<div class="card" style="border-radius:15px;">
    <p></p>

    <a href="/topic/{{id}}">{{topic}}</a>
    <div class="card-content hoverable yellow lighten-4" style="border-radius:15px; padding:20px;" >
        {{content}}
        <span class="card-title activator grey-text text-darken-4"><i class="material-icons right"></i></span>
        <p>{{format_date date_created}}</p>
        <p>Posted By: {{user.name}}</a></p>
    </div>
</div>