{{#if posts.length}}
  {{#each posts as |post|}}
    <a href="/post/{{post.id}}">
      <div class="card">
        <div class="card-header flex-row justify-space-between">
          <div>{{post.post_title}}</div>
          <div>Posted by
            {{post.user.username}}
            on
            {{format_date post.createdAt}}</div>
        </div>
        <div class="card-body">
          {{post.post_body}}
        </div>
      </div>
    </a>
  {{/each}}
{{/if}}