<div class="card">
  <div class="card-header flex-row justify-space-between">
    <div>{{post.post_title}}</div>
    <div>Posted by {{post.user.username}} on {{format_date post.createdAt}}</div>
  </div>
  <div class="card-body">
    {{post.post_body}}
  </div>
</div>
{{#if post.comments}}
{{#each post.comments}}
<div class="card">
  <div class="card-header flex-row justify-space-between">
    <div></div>
    <div>Comment by {{this.user.username}} on {{format_date this.createdAt}}</div>
  </div>
  <div class="card-body">
    {{this.comment_body}}
  </div>
</div>
{{/each}}
{{/if}}
<div class="card">
  <div class="card-header flex-row justify-space-between">
    <div></div>
  </div>
  <form class="card-body" id="new-comment-form">
    <input type="hidden" name="post-id" value="{{post.id}}"/>
    <label class="form-label">New Comment</label>
    <textarea class="form-input" name="comment-body"></textarea>
    <div class="flex-row justify-center">
      <button class="btn">Submit</button>
    </div>
  </form>
</div>
<script src="./comment.js"></script>








